*{
    scroll-behavior: smooth;
    font-family: 'Varela Round', sans-serif;
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
    line-height: 22px;
	font-weight: 300;
	color: #777;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#header-project{
    height: 15vh;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #fff;
    
}

.menu-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 10vh;
    font-family: 'Alexandria', sans-serif;
}
.menu-top .menu-top-left{
    text-shadow: 0 0 0.5px #000;
    font-size: 2.5rem;
    line-height: 35px;
    position: relative;
    top: 10px;
    font-weight: bold;
    color: #ffbd00;
    letter-spacing: 2px;
}
.menu-top .menu-top-left .slogan-topline{
    color: #224b84;
}
.menu-top .menu-top-left .slogan-botline{
    color: #e79d3e;
    font-style: italic;
}
.menu-top .menu-top-right{
    
}
.menu-top .menu-top-right .corp-code{
    width: 40%;
    float: left;
    height: 100%;
    position: relative;
    right: -40px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    padding-top: 15px;
    line-height: 30px;
}
.menu-top .menu-top-right .corp-code .corp-text{
    font-size: 1.8rem;
    color: #e79d3e;
    text-transform: capitalize;
    text-shadow: 0 0 0.1px #000;
    letter-spacing: 1px;

}
.menu-top .menu-top-right .corp-code .sorp-code-signal{
    font-size: 3rem;
}
.menu-top .menu-top-right .news{
    width: 60%;
    text-align: center;
    float: right;
    height: 100%;
    vertical-align: middle;
    padding-top: 20px;
    font-style: italic;
}
.menu-top .menu-top-right .news p{
    font-size: 1.5rem;
}

.menu-bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    height: 5vh;
}
.menu-bot .menu-item{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Alexandria', sans-serif;
    color: #555555;
    position: relative;

}
.menu-bot .menu-item span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu-bot .menu-item .logo-slogan{
    text-decoration: none;
    color: #e79d3e;
    text-shadow: 0 0 0.1px #000;
    letter-spacing: 1px;
}
.menu-bot .menu-item a{
    text-decoration: none;
}
.menu-bot .menu-item .logo-main{
    position: fixed;
    top: 2vh;
    left: 0;
    width: 100%;
}
.menu-bot .menu-item img{
    width: 140px;
}

.lang-menu{

}
.lang-menu .lang-items{
    position: absolute;
    background: #fff;
    height: 250px;
    padding: 0px 0px;
    bottom: -255px;
    display: none;
    width: 100%;
}
.lang-menu:hover .lang-items{
    display: block;
}
.lang-menu .lang-items .lang-item{
    height: 50px;
}
.lang-menu .lang-items .lang-item a{
    color: #000;
    font-weight: 800;
    font-family: Arial;
    font-size: 1.4rem;
    position: relative;
    top: 15px;
    text-decoration: none;
    top: 22px;
    font-family: 'Alexandria', sans-serif;
}
.lang-menu .lang-items .lang-item a:hover{
    color: #428bff;
}


.project-label-wrap{
    background: #428bff;
    margin-top: 15vh;
}
.project-major-label{
    
}
.project-major-label h3{
    text-align: center;
    float: left;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Alexandria', sans-serif;
}



.project-list-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.project-list-wrap .project-item{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.project-list-wrap .project-item .project-item-cover{
    position: absolute;
    background: #ffffffad;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    transition: 0.25s all ease-in-out;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
    font-family: 'Alexandria', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.project-list-wrap .project-item .project-item-cover:hover{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.project-list-wrap .project-item img{
    width: 100%;
    height: 100%;
    
}


/* Footer */
#footer {
    padding: 45px 0 55px 0;
    text-align: center;
    background-color: #d9d9d9;
}

#footer .light-section {
    background-color: #d9d9d9;
}
#footer .copyright {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #000;
    padding: 10px;
    font-family: 'Alexandria', sans-serif;
}