/* Index header */
#main-header-mobile{
    display: none;
}
#mobile-main-content{
    display: none;
}

@media only screen and (max-width: 768px) {

    #welcome-mobile{
        width: 100%;
        min-height: auto;
        position: relative;
    }
    .welcome-pic{
        width: 100%;
        height: auto;
    }
    .blur-welcome{
        width: 100%;
        height: 100%;
        position: absolute;
        background: #fff;
        top: 0;
        opacity: 0.4;
        left: 0;
    }
    .mobile-slogan{
        position: absolute;
        top: 38%;
        left: 10px;
        right: 10px;
        text-align: center;
    }
    .mobile-slogan .mobile-slogan-topline{
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        color: #244d86;
        text-shadow: 0 0 5px #fff;
    }
    .mobile-slogan .mobile-slogan-botline{
        font-family: 'Nunito', sans-serif;
        font-size: 33px;
        font-style: italic;
        letter-spacing: 2px;
        color: #865f2b;
        font-weight: bold;
        text-shadow: 0 0 0px #fff;
    }

    /* Index header */
    #main-header{
        display: none;
    }

    #main-header-mobile{
        display: block;
        height: 110px;
        text-align: center;
        padding-top: 12px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 0 10px #b7b7b7;
        background: #fff;
        z-index: 10;

    }

    .logo-index-wrap{

    }
    .logo-index-mobile{
        width: 130px;
    }

    .togle-mobile-menu{
        width: 45px;
        height: 45px;
        position: fixed;
        top: 25px;
        right: 25px;
        border: 4px solid #646464;
        border-radius: 6px;
        opacity: 0.8;
        z-index: 11;
        transition-duration: 1s;
    }
    .togle-mobile-menu .top-line{
        width: 70%;
        height: 2px;
        background: #645b5b;
        z-index: 10;
        position: absolute;
        top: 20%;
        right: 15%;
        border-radius: 15%;
        transition-duration: 1s;
    }
    .togle-mobile-menu .mid-line{
        width: 70%;
        height: 2px;
        background: #645b5b;
        z-index: 10;
        position: absolute;
        top: 47%;
        right: 15%;
        border-radius: 15%;
        transition-duration: 1s;
    }
    .togle-mobile-menu .bot-line{
        width: 70%;
        height: 2px;
        background: #645b5b;
        z-index: 10;
        position: absolute;
        bottom: 20%;
        right: 15%;
        border-radius: 15%;
        transition-duration: 1s;
    }

    .togle-mobile-menu-togle{
        border: 4px solid #fff;
    }
    .top-line-rotate{
        rotate: 45deg;
        top: 48% !important;
        width: 100% !important;
        right: 0% !important;
        height: 4px !important;
        background: #fff !important;
    }
    .bot-line-rotate{
        rotate: -45deg;
        top: 48% !important;
        width: 100% !important;
        left: 0% !important;
        height: 4px !important;
        background: #fff !important;
    }

    .menu-list-mobile{
        position: fixed;
        top: 0;
        right: -70%;
        padding-top: 110px;
        padding-bottom: 20px;
        text-align: right;
        background: #000000d9;
        width: 0;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        z-index: -1;
        transition-duration: 1s;
    }
    .mobile-menu-item{
        padding: 10px 30px;
        font-family: 'Alexandria', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
    }

    @keyframes toggleMenuMobile {
        from {background-color: red;}
        to {background-color: yellow;}
    }

    .menu-list-toggle{
        display: block;
        width: 100% !important;
        z-index: 10 !important;
        right: 0% !important;
    }


    /* Main content */
    .section-title{
        vertical-align: middle;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 800;
        font-family: 'Alexandria', sans-serif;
        font-size: 1.6rem;
        padding-bottom: 20px;
        color: #244d86;
        text-align: center;
    }

    #base-swiper{
        display: none;
    }

    #mobile-main-content{
        display: block;
        margin-top: 110px;
    }

    #whyus-mobile{
        margin: 50px 0;
    }

    /* Whyus */
    .whyus-tab-header-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 20px;
        padding: 0 10px;
    }
    .whyus-tab-header-mobile-item{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        justify-content: center;
        height: 65px;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        transition-duration: 0.5s;
    }

    .whyus-header-active{
        border-color: #33333d;
        color: #fff;
        background: #33333d;
    }

    .achievement-main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding-top: 20px;
        grid-gap: 20px;
        row-gap: 35px;
    }
    .achievement-main-content .number-list-item{
        padding: 0 10px;
    }
    .achievement-main-content .number-list-item img{
        width: 65px;
        padding-bottom: 10px;
    }
    .achievement-main-content .number-list-item h3  {
        font-family: 'Alexandria', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .achievement-main-content .number-list-item .achievement-number {
        font-size: 20px;
    }

    .achievement-division-line{
        width: 100%;
        height: 40px;
        background: #2059a0;
        margin: 30px 0;
    }

    .timeline-mobile{

    }
    .timeline-mobile img{
        width: 100%;
    }

    /* Whyus technology */
    .whyus-tech-main-img{
        padding: 20px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .whyus-tech-main-img img{
        width: 100%;    
    }

    .whyus-tech-slide{
        padding: 10px;
    }
    .whyus-tech-slide-mobile{
        
    }
    .whyus-tech-item-mobile{
        display: grid;
        padding: 10px;
    }
    .whyus-tech-item-mobile img{

    }
    .whyus-tech-item-mobile h2{
        font-size: 1.4rem;
        font-family: 'Alexandria', sans-serif;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .tech-mobile-swiper-pagination{
        text-align: center;
    }

    /* Whyus Certificate */
    .whyus-certificate-slide-mobile{
        padding: 20px 10px;
    }
    .certification-cover{
        min-height: 65vh;
    }
    .certification-cover img{

    }
    .certificate-mobile-swiper-pagination{
        text-align: center;
        padding-top: 10px;
    }

    /* Whyus Customer */
    .whyus-cust-slide-mobile{
        padding: 50px 10px;
    }
    .cust-cover{

    }
    .cust-cover img{

    }
    .cust-mobile-swiper-pagination{
        text-align: center;
    }


    /* Service */
    #service-mobile{
        margin: 50px 0;
    }
    .service-wrap-mobile{
        position: relative;
    }
    .service-mobile-item{

    }
    .service-mobile-title{
        text-align: center;
        font-family: 'Alexandria', sans-serif;
        font-size: 20px;
        padding-bottom: 20px;
        color: #244d86;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .service-mobile-main-odd-bg{
        background: #244d86;
        width: 100vw;
        height: 300px;
        /* padding: 10px; */
        position: relative;
    }
    .service-mobile-main-odd-bg img{
        float: left;
        height: 240px;
        position: absolute;
        top: 30px;
        width: 90%;
    }
    .service-mobile-description{
        text-align: justify;
        font-family: 'Alexandria', sans-serif;
        padding: 10px;
    }
    .service-mobile-slide{

    }
    .service-mobile-slide-item{
        text-align: center;
        height: 260px;
        margin: 20px 0;
        display: grid;
    }
    .service-mobile-slide-item img{
        width: 100%;
        height: 200px;
        object-fit: fill;
    }
    .service-mobile-slide-item h3{
        padding: 10px 0;
        font-family: 'Alexandria', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .service-mobile-swiper-pagination{
        position: absolute;
        top: 20px;
        background: transparent;
        width: 100%;
        z-index: 10;
        height: 30px;
        text-align: center;
    }
    .service-mobile-swiper-pagination .swiper-pagination-bullet{

    }

    .service-mobile-design{
        display: grid;
    }





    /* Project */
    #project-mobile{
        margin: 40px 0;
    }
    .project-intro-mobile{
        padding: 0 10px;
        text-align: justify;
        font-family: 'Alexandria', sans-serif;
    }
    .project-highlight-mobile{
        font-family: 'Alexandria', sans-serif;
        text-transform: capitalize;
        text-align: center;
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        color: #244d86;
        font-size: 16px;
    }
    .project-highlight-mobile .project-feature{
        
    }
    .project-highlight-mobile .project-feature{
        
    }
    .project-highlight-mobile .red-highlight{
        color: red;
    }
    .project-list-mobile{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .project-list-mobile .project-index-item-mobile{
        text-align: center;
        font-family: 'Alexandria', sans-serif;
    }
    .project-index-item-mobile img{
        width: 100%;
    }
    .project-index-mobile-name{
        font-size: 20px;
        padding: 10px 0;
        color: #000;
    }


    /* Footer */
    #footer-mobile{
        height: 180px;
        background: #2059a0;
        text-align: center;
        padding-top: 10px;
    }
    .footer-logo-mobile{

    }
    .footer-logo-img-mobile{

    }
    .footer-logo-mobile img{
        width: 150px;
    }
    .social-footer-mobile{

    }
    .social-footer-mobile i{
        color: #fff;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        padding: 13px;
        border-radius: 50%;
        font-size: 20px;
        margin: 0 20px;
    }


    .contact-main-content{
        padding: 0 10px;
    }
    .contact-info{

    }
    .contact-highlight{
        font-size: 22px;
        font-style: revert;
        text-transform: capitalize;
        font-family: 'Alexandria', sans-serif;
        color: #244d86;
        letter-spacing: 1px;
    }
    .contact-highlight .icon-before{
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .contact-main-info{
        padding-bottom: 50px;
    }
    .contact-main-info .contact-info-block{
        font-family: 'Alexandria', sans-serif;
        text-align: justify;
    }
    .contact-main-info label{
        font-family: 'Alexandria', sans-serif;
        letter-spacing: 1px;
        font-size: 19px;
        padding-top: 15px;
        margin: 0;
    }
    .contact-main-info i{
        color: #c94645;
        width: 30px;
        /* text-align: center; */
        font-size: 23px;
    }
    .contact-info-content{

    }

    .contact-mobile-form{
        margin-bottom: 20px;
    }
    .contact-mobile-form .form-item{
        font-family: 'Alexandria', sans-serif;
        padding: 10px 0;
    }
    .contact-mobile-form .form-item label{
        width: 100%;
        margin: 0;
    }
    .contact-mobile-form .form-item input{
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }
    .contact-mobile-form .form-item textarea{
        width: 100%;
        border-radius: 5px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        padding: 5px;
    }
    .contact-mobile-form .form-item .submit-contact-btn{
        font-size: 20px;
        font-weight: bold;
        background: #c12929;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}